.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login > img {
  height: 200px;
  color: green;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  cursor: pointer;
  background-color: rgb(5, 71, 5);
}
.login > a:hover{
  color: brown;
}
